<!DOCTYPE html>

<div class="login-content" id="login-content">
  <div id="login-content-header">
    <p class="big-font no-margin">เข้าสู่ระบบ</p>
  </div>
  <hr align="center" width="100%">
  <%= form_for(:session, url: login_path) do |f| %> 
    <%= f.label :username =%></br>
    <%= f.text_field :username, :placeholder => "Username" %></br></br>
    <%= f.label :password =%></br>
    <%= f.password_field :password, :placeholder => "Password" %></br></br>
    <%= f.submit "Log in", class: "btn-submit" %>
  <% end %>
</div>
