<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>เข้าสู่ระบบ</p>
    </div>
    <div class="panel-content">
      <%= form_for(:session, url: login_path) do |f| %> 
        <%= f.label :username %></br>
        <%= f.text_field :username, :placeholder => "Username" %></br></br>
        <%= f.label :password %></br>
        <%= f.password_field :password, :placeholder => "Password" %></br></br>
        <% if flash[:failed] %>
          <p style="color:red; padding-bottom:1rem;"><%= flash[:failed] %></p>
        <% end %>
        <%= f.submit "Log in", class: "btn-small" %>
      <% end %>
    </div>
  </div>
</div>
