<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>อัพโหลดไฟล์โมเดลของคุณ</p>
    </div>
    <div class="panel-content upload">
      <p>นามสกุลไฟล์ที่รองรับ</p>
      <ul>
        <li>.STL</li>
      </ul>
      <%= form_for @model, url: upload_path do |f| %>
        <p>ตั้งค่าการแชร์</p></br>
        <%= f.radio_button(:share, "false", {checked: true} ) %>
        <%= f.label(:share_false, "ส่วนตัว") %>
        <%= f.radio_button(:share, "true") %>
        <%= f.label(:share_true, "สาธารณะ") %></br></br>
        <%= f.hidden_field(:model, :value => "#{@model.cached_model_data}") %>
        <%= f.file_field(:model, :id =>  "model_file_upload", accept: ".stl, .obj") %>
        <%= f.label(:file_upload, "เลือกไฟล์", class: "custom-file-upload") %>
      <% end %>
      </br>
      <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress" style="width:10rem; height:3rem; background:blue;">
            <div class="bar" style="height:100%; width:0%; background:red;">
            </div>
          </div>
        </div>
      </script>
      <div class="progress" style="display: none; width:100%; height:0.5rem; border-radius:0.2rem; border-style:solid; border-width:1px; border-color:black;">
        <div class="bar" style="height:100%; width:0%; border-radius:0.5rem; background:#6cd64f;"></div>
      </div>
    </div>
  </div>
</div>
