<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>อัพโหลดไฟล์โมเดลของคุณ</p>
    </div>
    <div class="panel-content upload">
      <p>นามสกุลไฟล์ที่รองรับ</p>
      <ul>
        <li>.STL</li>
      </ul>
      <%= form_for @model, url: upload_path do |f| %>
        <p>ตั้งค่าการแชร์</p></br>
        <%= f.radio_button(:share, "false", {checked: true} ) %>
        <%= f.label(:share_false, "Private") %>
        <%= f.radio_button(:share, "true") %>
        <%= f.label(:share_true, "Public") %></br></br>
        <%= f.hidden_field(:model, :value => "#{@model.cached_model_data}") %>
        <%= f.file_field(:model, :id =>  "model_file_upload", :onchange => "this.form.submit()", accept: ".stl, .obj") %>
        <%= f.label(:file_upload, "เลือกไฟล์", class: "custom-file-upload") %>
      <% end %>
    </div>
  </div>
</div>


