<!DOCTYPE html>
<% [*@orders].each do |order| %>
  <div id="order_<%= order.id %>" style="background:whitesmoke; margin: 1rem; padding: 1rem; border-radius:1rem;">
    <%= link_to "Order ID: #{order.id}", controller: "clients", action: "preview", order: "#{ order.id }" %>
    <ul>
      <li><%= order.printing_material %></li>
      <li><%= order.printing_size %></li>
      <li><%= order.printing_speed %></li>
      <li><%= order.delivery_method %></li>
    </ul></a>
  </div>
<% end %>
