<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>คำสั่งซื้อของฉัน</p>
    </div>
    <div class="panel-content">
      <% if [*@orders].length > 0 %>
        <% [*@orders].each do |order| %>
          <div class="card">
          <p>หมายเลขคำสั่งซื้อ: <%= order.id %></p>
          <ul>
            <li>สั่งเมื่อ: <%= order.created_at %></li>
            <li>สถานะคำสั่งซื้อ: กำลังดำเนินการ</li>
            <% if order.payment.nil? %>
              <li>สถานะการชำระเงิน: <a style="color:#FF6666;" href="/payment_options?order=<%= order.id %>">กรุณาชำระเงิน</a></li>
            <% else %>
              <li>สถานะการชำระเงิน: <span style="color:green;"><%= order.payment.status == "Success"? "ชำระแล้ว": order.payment.status %></span></li>
              <li>สถานะการปริ้นท์: <span style="color:blue;">เตรียมงานปริ้นท์</span></li>
            <% end %>
          </ul>
          <p>รายการสินค้า</p>
          <ul>
          <% [*order.items].each do |item| %>
            <li>หมายเลขชิ้นงาน: #<%= item.id %></li>
          <% end %>
          </ul>
          </div>
        <% end %>
      <% else %>
        <p>คุณยังไม่ได้สั่งซื้อสินค้า</p>
      <% end %>
    </div>
  </div>
</div>
