<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>ตรวจสอบรายละเอียดการสั่งซื้อ</p>
    </div>
    <div class="panel-content">
      <div style="display:table; width:100%;">
        <div style="display:table-row;">
          <p>ส่งคุณ: <%= @delivery_info[0] %></p>
          <p>สถานที่จัดส่ง: <%= @delivery_info[1] %></p>
          <p>บริการจัดส่งสินค้า: <%= @delivery_info[2] %></p>
          <%= render partial: "items/item", collection: @cart, as: :item%>
        </div>
        <div style="display:table-row; text-align:center;">
          <%= form_for @order, url: order_path do |f| %>
            <%= f.hidden_field(:delivery_courier, :value => "#{@order.delivery_courier}") %>
            <%= f.hidden_field(:address_id, :value => "#{@order.address_id}") %>
            <%= f.submit("ดำเนินการต่อขั้นถัดไป : เลือกช่องทางการชำระค่าบริการ", class: "btn-small") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
