<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <div style="display:table; width:100%;">
        <p style="display:table-cell">ตะกร้าสินค้า</p>
        <% if [*@items].length > 0 %>
          <div id="order-now" style="display:table-cell; text-align:right;">
            <a class="btn-small" href="/checkout">ดำเนินการสั่งซื้อ</a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="panel-content">
      <% if [*@items].length > 0 %>
        <% [*@items].each do |item| %>
          <div class="card" id="item_<%= item.id %>">
            <div class="card-content">
                <p>หมายเลขชิ้นงาน: #<%= item.id %></p>
              <ul>
                <li>ความสูง: <%= item.print_height %> มม.</li>
                <li>ความกว้าง: <%= item.print_width %> มม.</li>
                <li>ความลึก: <%= item.print_depth %> มม.</li>
                <li>ชนิดและสีของฟิลาเมนต์: <%= item.filament_id %></li>
                <li>ความเร็วในการปริ้นท์: <%= item.print_speed_id %></li>
                <li>โมเดลฐาน: <%= link_to "#{item.model_id}", controller: "items", action: "new", model: "#{ item.model_id }" %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card">
          <div class="card-content">
            <h4><b>ไม่มีสินค้า</b></h4> 
            <p>คุณไม่มีสินค้าในตะกร้า</p> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
