<!DOCTYPE html>
<div class="page-content">
  <div class="panel">
    <div class="panel-header">
      <p>ตั้งค่าการพิมพ์</p>
    </div>
    <div class="panel-content">
      <p id="model-url" style="display:none;"><%= @model.model_url %></p>
      <div id="preview-box" style="display:table;">
        <div id="preview-panel" style="display:table-cell; vertical-align:top;">
          <h3 style="display:inline;">3D Viewer quality</h3>
          <input type="radio" name="quality" id="quality-ll" value="ll" checked>
          <label for="quality-ll">VERY LOW</label>
          <input type="radio" name="quality" id="quality-l" value="l">
          <label for="quality-l">LOW</label>
          <input type="radio" name="quality" id="quality-m" value="m">
          <label for="quality-m">MEDIUM</label>
          <input type="radio" name="quality" id="quality-h" value="h">
          <label for="quality-h">HIGH</label>
          <input type="radio" name="quality" id="quality-hh" value="hh">
          <label for="quality-hh">VERY HIGH</label>
          </br></br>
        </div>
        <div id="options-panel" style="display:table-cell; vertical-align:top; padding-left:5rem;">
          <form action="/add_to_cart" method="post">
            <input type="hidden" name="item[model_id]" value="<%= @model.id %>">
            <h3 style="margin-top:0;">Select printing size</h3>
            <p id="model-scale"></p>
            Height : <input type="number" min="5" step="0.5" id="print-height" name="item[print_height]" placeholder="height"> mm.</br>
            Width : <input type="number" min="5" step="0.5" id="print-width" name="item[print_width]" placeholder="width"> mm.</br>
            Depth : <input type="number" min="5" step="0.5" id="print-depth" name="item[print_depth]" placeholder="depth"> mm.</br>
            </br><p style="color:red;">*Minimum dimension : 5 mm.</p>
            <p style="color:red;">*Minimum resolution : 0.5 mm.</p>
            <h3>Select model color</h3>
            <select id="model-color" name="item[filament_id]">
              <% @filaments.each do |filament| %>
                <option id="<%= filament.id %>_<%= filament.hex_color_value %>"><%= filament.description %></option>
              <% end %>
            </select>
            <h3>Select printing speed</h3>
            <input type="radio" name="item[print_speed_id]" id="speed-regular" value="1" checked>
            <label for="speed-regular">Regular</label>
            <input type="radio" name="item[print_speed_id]" id="speed-express" value="2">
            <label for="speed-express">Express</label>
            </br></br>
            <input class="btn-small" type="submit" value="Add to cart"></input>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
