<!DOCTYPE html>
<div class="page-content">
  <div id="loading-model" style="position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5)">
    <div id="loading-model-description" style="display:table; width:100%; height:100%;">
      <div id="loading-model-desc-box" style="display:table-cell; text-align:center; vertical-align:middle">
        <p style="color:white; font-size:200%;">กำลังโหลดโมเดล ... <span id="percent"></span>%</p>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-header">
      <p>ตั้งค่าการพิมพ์</p>
    </div>
    <div class="panel-content">
      <div id="preview-box" style="display:table;">
        <div id="preview-panel" style="display:table-cell; vertical-align:top;">
          <h3 style="margin-top:0;">คุณภาพการแสดงรูป 3 มิติ</h3>
          <input class="render-quality" type="radio" name="quality" id="quality-ll" value="150" checked disabled>
          <label for="quality-ll">ต่ำที่สุด</label>
          <input class="render-quality" type="radio" name="quality" id="quality-l" value="200" disabled>
          <label for="quality-l">ต่ำกว่า</label>
          <input class="render-quality" type="radio" name="quality" id="quality-m" value="250" disabled>
          <label for="quality-m">ปานกลาง</label>
          <input class="render-quality" type="radio" name="quality" id="quality-h" value="375" disabled>
          <label for="quality-h">สูงกว่า</label>
          <input class="render-quality" type="radio" name="quality" id="quality-hh" value="500" disabled>
          <label for="quality-hh">สูงที่สุด</label>
          </br></br>
        </div>
        <div id="options-panel" style="display:table-cell; vertical-align:top; padding-left:5rem;">
          <form action="/add_to_cart" id="create-item" method="post">
            <input type="hidden" name="item[model_url]" id="model-url" value="<%= @model.model_url %>">
            <input type="hidden" name="item[model_id]" id="model-id" value="<%= @model.id %>">
            <input type="hidden" name="item[price]" id="item-price" value="0">
            <input type="hidden" id="screenshot" name="item[screenshot]">
            <input type="hidden" id="finished-item" name="item[finished_item]">
            <h3 style="margin-top:0;">เลือกขนาดชิ้นงานปริ้นท์</h3>
            <div id="print-sizing" style="display:table">
              <div id="print-sizing-height" style="display:table-row">
                <div style="display:table-cell">
                  <p style="display:inline;">ความสูง </p>
                </div>
                <div style="display:table-cell; padding-left:1rem;">
                  <input class="scale-display" type="number" step="0.1" id="print-height" name="item[print_height]" placeholder="ความสูง" readonly>
                  <p style="display:inline;"> มม.</p></br>
                </div>
              </div>
              <div id="print-sizing-width" style="display:table-row">
                <div style="display:table-cell">
                 <p style="display:inline;">ความกว้าง </p>
                </div>
                <div style="display:table-cell; padding-left:1rem;">
                  <input class="scale-display" type="number" step="0.1" id="print-width" name="item[print_width]" placeholder="ความกว้าง" readonly>
                  <p style="display:inline;"> มม.</p></br>
                </div>
              </div>
              <div id="print-sizing-depth" style="display:table-row">
                <div style="display:table-cell">
                  <p style="display:inline;">ความลึก </p>
                </div>
                <div style="display:table-cell; padding-left:1rem;">
                  <input class="scale-display" type="number" step="0.1" id="print-depth" name="item[print_depth]" placeholder="ความลึก" readonly>
                  <p style="display:inline;"> มม.</p></br>
                </div>
              </div>
              <div id="print-sizing-scale" style="display:table-row">
                <div style="display:table-cell; vertical-align:center;">
                  <p style="display:inline;">สเกล </p>
                </div>
                <div style="display:table-cell; padding-left:1rem;">
                  <input class="print-scaling" style="margin:1rem 0; width:5rem;"type="number" step="0.001" value="1" disabled></br>
                  <input class="print-scaling" type="range" step="0.001" id="print-scaling" name="item[scale]" value="1" disabled>
                </div>
              </div>
            </div>
            <!--</br><p id="priceing" style="color:#3f51b5;">ราคา <span id="price">50</span> บาท</p>-->
            </br><p style="color:red;">ขนาดชิ้นงานที่รองรับ ~10x10x10 มม.<sup style="font-size:50%;">3</sup> ถึง ~140x140x140 มม.<sup style="font-size:50%;">3</sup></p>
            <h3>เลือกชนิดและสีของฟิลาเมนต์</h3>
            <select id="model-color" name="item[filament_id]" disabled>
              <% @filaments.each do |filament| %>
                <option id="<%= filament.id %>_<%= filament.hex_color_value %>" value="<%= filament.id %>"><%= filament.description %></option>
              <% end %>
            </select>
            <div id="calculating-price" style="display:none; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5)">
              <div id="calculating-price-description" style="display:table; width:100%; height:100%;">
                <div style="display:table-cell; width:40%;"></div>
                <div id="calculating-price-desc-box" style="display:table-cell; white-space:nowrap; text-align:center; vertical-align:middle">
                  <p id="calculating-price-desc-text" style="color:white; font-size:200%;">กำลังคำนวณราคา ...</p>
                  <div id="price-result" style="display:none; border-radius:1rem; padding:2rem; background:whitesmoke; text-align:center box-shadow:0 1px 4px 0 rgba(0,0,0,0.4)">
                    <p style="padding:1rem; font-size:200%;"><span id="price-box"></span> บาท</p>
                    <input class="btn-small" id="submit-form" type="submit" value="นำใส่ตะกร้า"></input>
                    <a class="btn-small" style="display:inline-block; background:darkorange; cursor:pointer;" id="cancel-form">แก้ไข</a>
                  </div>
                </div>
                <div style="display:table-cell; width:40%;"></div>
              </div>
            </div>
          </form>
          </br>
          <a class="btn-small" style="cursor:pointer; background:limegreen;" id="calculate-price">คำนวณราคา</a>
        </div>
      </div>
    </div>
  </div>
</div>
