<!DOCTYPE html>
<html>
  <head>
    <title>3D Print Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'promptpayqr' %>
    <%= javascript_pack_tag 'preview' %>
  </head>
  <body>
    <div class="content">
      <div class="page-header">
        <div class="navbar">
          <div class="navbar-left">
            <a style="font-size:200%;" href="/">3D Print Shop</a>
            <a style="margin-left:1rem;" href="/">Tutorial</a>
            <p style="display:inline; margin:0 1rem 0 1rem;">|</p>
            <a href="/">Tutorial</a>
            <p style="display:inline; margin:0 1rem 0 1rem;">|</p>
            <a href="/">Tutorial</a>
          </div>
          <div class="navbar-right">
            <% if current_user %>
              <p style="display:inline; margin-right:1rem;">Hello, <%= current_user.username %> <i class="user-arrow"></i></p>
              <a style="margin-right:1rem;" href="/my_models">My uploads</a>
              <a href="/logout">Log Out</a>
            <% else %>
              <a style="margin-right:1rem;" href="/login">Log In</a>
              <a href="/signup">Sign Up</a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="page-content-container">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content">
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </body>
</html>
