<!DOCTYPE html>
<html>
  <head>
    <title>3D Print Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url("favicon.ico") %>" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'preview' %>
    <%= javascript_pack_tag 'promptpayqr' %>
  </head>
  <body>
    <div class="page-header">
      <div class="navbar">
        <div class="navbar-left">
          <a style="font-size:200%;" href="/">3D Print Shop</a>
          <a style="margin-left:1rem;" href="/">วิธีการใช้งาน</a>
          <p style="display:inline; margin:0 1rem 0 1rem;">|</p>
          <a href="/">อัตราค่าบริการ</a>
          <p style="display:inline; margin:0 1rem 0 1rem;">|</p>
          <a href="/">ติดต่อเรา</a>
        </div>
        <div class="navbar-right">
          <% if current_user %>
            <b style="color:#3F51B5; padding-right:1rem;">ยินดีต้อนรับ <%= current_user.username %></b>
            <% if is_customer? %>
              <a href="/my_cart">ตะกร้าสินค้า</a>
            <% end %>
            <div id="dropdown-menu">
              <span style="font-size:150%; padding-left:1rem;">☰</span>
              <div id="dropdown-container">
                  <% if is_customer? %>
                      <a href="#">บัญชีของฉัน</a>
                      <a href="/my_models">โมเดลที่ฉันอัพโหลด</a>
                      <a href="/my_orders">คำสั่งซื้อของฉัน</a>
                  <% end %>
                  <a href="/logout">ออกจากระบบ</a>
              </div>
            </div>
          <% else %>
            <a style="margin-right:1rem;" href="/login">เข้าสู่ระบบ</a>
            <a href="/signup">สมัครใช้บริการ</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="page-content-container">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="footer-content"></div>
    </div>
  </body>
</html>
